@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl;
}

h2 {
  @apply text-3xl sm:text-4xl;
}

a {
  @apply cursor-pointer;
}

button {
  @apply rounded-xl uppercase;
}

* {
  @apply text-neutral-400;
}

.cardefects:has(:hover, :focus) {
  transform-origin: center;
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

.imgefects:hover {
  max-width: 100%;
  transform-origin: center;
  transform: scale(0.55);
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
}

/* ### text glow effect ###  */

/* .glow {
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
} */
